// Colors
$retroBlue: #11269c;
$retroRed: #ff596a;
$retroPink: #ff94b8;
$retroWhite: #fff;

// Theme
$retroPrimary: $retroBlue;
$retroSecondary: $retroRed;
// Using rbga because we can't control
// opactiy using a hex value.
$retroHoverBackground: rgba(255, 148, 184, 0.5); // $retroPink

// Variables
$borderWidthRegular: 0.0625rem;
$boxShadowOffsetXRegular: 0.25rem;
$boxShadowOffsetYRegular: 0.25rem;
$fontSizeRegular: 1.125rem;
$fontWeightBold: 900;

.button {
  background-color: $retroWhite;
  // border: $borderWidthRegular solid $retroPrimary;
  box-shadow: $boxShadowOffsetXRegular $boxShadowOffsetYRegular $retroPrimary;
  color: $retroPrimary;
  font-size: $fontSizeRegular;
  font-weight: $fontWeightBold;
  height: 3.125rem;
  width: 18.75rem;
  text-transform: uppercase;
  // width: 100%;

  &.--secondary {
    border-color: $retroSecondary;
    box-shadow: $boxShadowOffsetXRegular $boxShadowOffsetYRegular
      $retroSecondary;
    color: $retroSecondary;
  }

  &:hover {
    background-color: $retroHoverBackground;
  }

  &:active {
    transform: translateX($boxShadowOffsetXRegular / 2)
      translateY($boxShadowOffsetYRegular / 2);
  }
}
